<section class="gallery">
  <div id="gallery" style="visibility: hidden; height: 1px; overflow: hidden">
    {{ $images := slice }}
    {{ $isSW := false }}
    {{ $pathFilter := slice }}
    {{ with .File }}
      {{ if strings.Contains .Path "second-wind-2026" }}
        {{ $isSW = true }}
        {{ $fullPath := .Path }}
        {{ if strings.Contains $fullPath "/index.md" }}
          {{ $fullPath = strings.TrimSuffix $fullPath "/index.md" }}
        {{ end }}
        {{ if strings.Contains $fullPath "second-wind-2026" }}
          {{ $remainder := strings.TrimPrefix $fullPath "content/photos/second-wind-2026/" }}
          {{ if ne $remainder $fullPath }}
            {{ $pathFilter = strings.Split (strings.TrimSuffix $remainder "/") "/" }}
            {{ if and (eq (len $pathFilter) 1) (eq (index $pathFilter 0) "") }}
              {{ $pathFilter = slice }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}

    {{ if and $isSW (site.Data.second_wind_2026_files) }}
      {{ range $it := site.Data.second_wind_2026_files.images }}
        {{ $includeImage := true }}
        {{ if gt (len $pathFilter) 0 }}
          {{ $imagePath := $it.name }}
          {{ $imagePathParts := strings.Split $imagePath "/" }}
          {{ $match := true }}
          {{ range $i, $component := $pathFilter }}
            {{ if lt $i (len $imagePathParts) }}
              {{ if ne $component (index $imagePathParts $i) }}
                {{ $match = false }}
              {{ end }}
            {{ else }}
              {{ $match = false }}
            {{ end }}
          {{ end }}
          {{ $includeImage = $match }}
        {{ end }}
        
        {{ if $includeImage }}
          {{ $images = $images | append (dict
            "Name" $it.name
            "Title" (default "" $it.title)
            "Date" ""
            "Params" (dict)
            "image" nil
            "Width" $it.width
            "Height" $it.height
          ) }}
        {{ end }}
      {{ end }}
    {{ else }}
      {{ range $image := where (.Resources.ByType "image") "Params.hidden" "ne" true }}
        {{ $title := "" }}
        {{ $date := "" }}
        {{ with $image.Exif }}
          {{ $date = .Date }}
          {{ with .Tags.ImageDescription }}
            {{ $title = . }}
          {{ end }}
        {{ end }}
        {{ if ne $image.Title $image.Name }}
          {{ $title = $image.Title }}
        {{ end }}
        {{ if $image.Params.Date }}
          {{ $date = time $image.Params.Date }}
        {{ end }}
        {{ $images = $images | append (dict
          "Name" $image.Name
          "Title" $title
          "Date" $date
          "image" $image
          "Params" $image.Params
        ) }}
      {{ end }}
    {{ end }}

    {{ $publishResources := default true .Params.build.publishResources }}
    {{ $base := "https://sharlot.memes.nz/second-wind-photos/second-wind-2026/" }}
    {{ range sort $images (.Params.sort_by | default "Name") (.Params.sort_order | default "asc") }}
      {{ $image := .image }}
      {{ if $image }}
        {{ $thumbnail := $image.Filter (slice images.AutoOrient (images.Process "fit 600x600")) }}
        {{ $full := $image.Filter (slice images.AutoOrient (images.Process "fit 1600x1600")) }}
        {{ $color := index $thumbnail.Colors 0 | default "transparent" }}
        <a class="gallery-item" href="{{ if $publishResources }}{{ $image.RelPermalink }}{{ else }}{{ $full.RelPermalink }}{{ end }}" data-pswp-src="{{ $full.RelPermalink }}" data-pswp-width="{{ $full.Width }}" data-pswp-height="{{ $full.Height }}" data-pswp-target="{{ $image.Name | urlize }}" title="{{ .Title }}" itemscope itemtype="https://schema.org/ImageObject" style="aspect-ratio: {{ $thumbnail.Width }} / {{ $thumbnail.Height }}">
          <figure style="background-color: {{ $color }}; aspect-ratio: {{ $thumbnail.Width }} / {{ $thumbnail.Height }}">
            <img class="lazyload" width="{{ $thumbnail.Width }}" height="{{ $thumbnail.Height }}" data-src="{{ $thumbnail.RelPermalink }}" alt="{{ .Title }}" />
          </figure>
          <meta itemprop="contentUrl" content="{{ if $publishResources }}{{ $image.RelPermalink }}{{ else }}{{ $full.RelPermalink }}{{ end }}" />
      {{ else }}
        {{ $name := .Name }}
        {{ $w := .Width }}
        {{ $h := .Height }}
        {{ $thumbURL := print $base "/" $name }}
        {{ $fullURL := $thumbURL }}
        <a class="gallery-item" href="{{ $fullURL }}" data-pswp-src="{{ $fullURL }}" data-pswp-width="{{ $w }}" data-pswp-height="{{ $h }}" data-pswp-target="{{ $name | urlize }}" title="{{ .Title }}" itemscope itemtype="https://schema.org/ImageObject" style="{{ if and $w $h }}aspect-ratio: {{ $w }} / {{ $h }}{{ end }}">
          <figure style="background-color: transparent; {{ if and $w $h }}aspect-ratio: {{ $w }} / {{ $h }}{{ end }}">
            <img class="lazyload" {{ if $w }}width="{{ $w }}"{{ end }} {{ if $h }}height="{{ $h }}"{{ end }} data-src="{{ $thumbURL }}" alt="{{ .Title }}" />
          </figure>
          <meta itemprop="contentUrl" content="{{ $fullURL }}" />
      {{ end }}
      {{ with site.Params.Author }}
        <span itemprop="creator" itemtype="https://schema.org/Person" itemscope>
          <meta itemprop="name" content="{{ site.Params.Author.name }}" />
        </span>
      {{ end }}
      </a>
    {{ end }}
  </div>
</section>
